<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
	executionOrder="depends,defects"
	failOnRisky="true"
	displayDetailsOnTestsThatTriggerWarnings="true"
	failOnWarning="true"
	colors="true">
	<testsuites>
		<testsuite name="divengine/div">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>